In [ ]:
#Importing Libraries

import pandas as pd
import numpy as np

In [ ]:
 # Load Dataset

df=pd.read_csv('/content/drive/MyDrive/hr_data_200_rows.csv')

In [ ]:
df.head()

,EmployeeID,Age,Department,Attrition,Salary,Experience,Education,Gender
0,1001,29,Finance,Yes,not available,NaN,Master's,Male
1,1002,39,Marketing,No,not available,NaN,NaN,NaN
2,1003,36,Finance,Yes,33513,18.0,PhD,NaN
3,1004,abc,Marketing,Yes,not available,NaN,NaN,NaN
4,1005,56,Sales,Yes,49912,0.0,Bachelor's,NaN

In [ ]:
# Checking for null value.

df.isnull().sum()

EmployeeID      0
Age            49
Department      0
Attrition       0
Salary         74
Experience    106
Education      42
Gender         66
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.shape

(200, 8)

In [ ]:
print(df.dtypes)

EmployeeID      int64
Age            object
Department     object
Attrition      object
Salary         object
Experience    float64
Education      object
Gender         object
dtype: object

#Datatype Conversion

In [ ]:
# Convert data types into numeric.

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
df['Experience'] = pd.to_numeric(df['Experience'], errors='coerce')

In [ ]:
print(df.dtypes)

EmployeeID      int64
Age           float64
Department     object
Attrition      object
Salary        float64
Experience    float64
Education      object
Gender         object
dtype: object

#Handling Missing Values

In [ ]:
# Numeric : Fill with median/mean

df['Age'].fillna(df['Age'].median(),inplace = True)
df['Salary'].fillna(df['Salary'].mean(),inplace = True)
df['Experience'].fillna(df['Experience'].mean(),inplace = True)

#Categorical : Fill with mode

df['Gender'].fillna(df['Gender'].mode()[0],inplace = True)
df['Education'].fillna(df['Education'].mode()[0],inplace = True)

/tmp/ipython-input-4052232134.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace = True)
/tmp/ipython-input-4052232134.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace = True)
/tmp/ipython-input-4052232134.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Experience'].fillna(df['Experience'].mean(),inplace = True)
/tmp/ipython-input-4052232134.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0],inplace = True)
/tmp/ipython-input-4052232134.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education'].fillna(df['Education'].mode()[0],inplace = True)

In [ ]:
# Showing data after filling the missing values.
df.head()

,EmployeeID,Age,Department,Attrition,Salary,Experience,Education,Gender
0,1001,29.0,Finance,Yes,60344.370968,18.819149,Master's,Male
1,1002,39.0,Marketing,No,60344.370968,18.819149,Bachelor's,Female
2,1003,36.0,Finance,Yes,33513.000000,18.000000,PhD,Female
3,1004,41.0,Marketing,Yes,60344.370968,18.819149,Bachelor's,Female
4,1005,56.0,Sales,Yes,49912.000000,0.000000,Bachelor's,Female

In [ ]:
# Again check for null value

df.isnull().sum()

EmployeeID    0
Age           0
Department    0
Attrition     0
Salary        0
Experience    0
Education     0
Gender        0
dtype: int64

# Encode Categorical Columns

In [ ]:
# Encode Categorical Columns

df_encoded = pd.get_dummies(df, columns=['Department', 'Attrition','Education','Gender'], drop_first=True)

In [ ]:
# print encoded value.

display(df_encoded.head())

,EmployeeID,Age,Salary,Experience,Department_HR,Department_IT,Department_Marketing,Department_Sales,Attrition_Yes,Education_High School,Education_Master's,Education_PhD,Gender_Male
0,1001,29.0,60344.370968,18.819149,False,False,False,False,True,False,True,False,True
1,1002,39.0,60344.370968,18.819149,False,False,True,False,False,False,False,False,False
2,1003,36.0,33513.000000,18.000000,False,False,False,False,True,False,False,True,False
3,1004,41.0,60344.370968,18.819149,False,False,True,False,True,False,False,False,False
4,1005,56.0,49912.000000,0.000000,False,False,False,True,True,False,False,False,False

#Standardize numerical columns.

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
col_to_scale = ['Age', 'Salary','Experience']

#Standardization for ml using in ml model .

scaler = StandardScaler()
df_encoded[col_to_scale] = scaler.fit_transform(df_encoded[col_to_scale])